* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.container {
  display: grid;
  grid-template-columns: 16em 1fr;
  height: 100%;
  background-color: #ebedec;
}

.navbar {
  background-color: #2b2d3e;
  color: #fff;
  display: grid;
  align-items: center;
  justify-content: center;
}

.topbar {
  background-color: #fff;
  padding: 1em;
  display: grid;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.content {
  display: grid;
  gap: 1em;
  margin: 0 1em;
}

.welcome {
  background-color: #fff;
  padding: 1em;
}

.information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.info1,
.info2,
.info3,
.info4 {
  padding: 1em;
  color: #fff;
  text-align: center;
  border-radius: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
}

.info1 {
  background-color: #00cc89;
}

.info2 {
  background-color: #17a3f8;
}

.info3 {
  background-color: #ff4469;
}

.info4 {
  background-color: #ff9e1c;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.box-1 {
  background-color: #fff;
  padding: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 22em;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.boxs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
  grid-column: 2 / 3;
  grid-row: 1;
}

.box-2 {
  background-color: #fff;
  padding: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 10em;
}

.box-3 {
  background-color: #fff;
  padding: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 10em;
}

.box-4 {
  background-color: #fff;
  padding: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 10.5em;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.endboxs {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}

.box-5 {
  background-color: #fff;
  padding: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 20em;
  flex: 2;
}

.box-6 {
  background-color: #fff;
  padding: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 20em;
  flex: 1;
}
